:root {
    --boring-color: #FF5C5C;
    --average-color: #FFD54C;
    --good-color: #44C59A;
    --masterpiece-color: #4CAF50;
    --not-rated-color: #e5e5e5;

    --primary-color: #f5b301;

    /* Neutral Colors */
    --mistyDark-0: #000000;
    --mistyDark-1: #121113;
    --mistyDark-2: #1a191b;
    --mistyDark-3: #232225;
    --mistyDark-4: #2b292d;
    --mistyDark-5: #323035;
    --mistyDark-6: #3c393f;
    --mistyDark-7: #49474e;
    --mistyDark-8: #625f69;
    --mistyDark-9: #6f6d78;
    --mistyDark-10: #7c7a85;
    --mistyDark-11: #b5b2bc;
    --mistyDark-12: #eeeef0;
    --mistyDark-13: #fff;

    --font-inter: 'Inter', sans-serif;
    --font-outfit: 'Outfit', sans-serif;

    --font-size-displayLarge: 52px;
    --font-size-displayMedium: 46px;
    --font-size-displaySmall: 41px;
    --font-size-heading1: 36px;
    --font-size-heading2: 32px;
    --font-size-heading3: 29px;
    --font-size-heading4: 26px;
    --font-size-heading5: 23px;
    --font-size-heading6: 20px;
    --font-size-subtitle: 18px;
    --font-size-body: 16px;
    --font-size-caption: 14px;
    --font-size-label: 13px;
    --font-size-tagline: 11px;
}

body {
    font-family: var(--font-inter);
    background-color: var(--mistyDark-1);
    color: var(--mistyDark-12);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background-color: var(--mistyDark-0);
    padding: 2.5rem;
    border-radius: 1rem;
    border: 1px solid var(--mistyDark-3);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: 1rem;
    width: 100%;
}

h1 {
    font-family: var(--font-outfit);
    font-size: var(--font-size-heading4);
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--mistyDark-12);
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: var(--mistyDark-10);
    font-size: var(--font-size-body);
}

.highlight {
    color: var(--primary-color);
    font-weight: 600;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--mistyDark-0);
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: all 0.2s ease;
    font-family: var(--font-outfit);
    border: 1px solid transparent;
}

.btn:hover {
    background-color: #d99e01;
    /* Slightly darker shade of primary */
    transform: translateY(-1px);
}

#countdown {
    font-weight: bold;
    color: var(--mistyDark-13);
}